&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    usfsmax_mmc:usfsmax_mmc@57{
        compatible = "i2c-device";
        status = "okay";
        reg = < 0x57 >;
    };
};

&pinctrl {
    /omit-if-no-ref/ i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 24)>,
                    <NRF_PSEL(TWIM_SDA, 0, 25)>;
        };
    };
    /omit-if-no-ref/ i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 24)>,
                    <NRF_PSEL(TWIM_SDA, 0, 25)>;
            low-power-enable;
        };
    };
};